@{
    ViewBag.Title = "About Us";
}

	<div class="row">
		<div class="col-lg-12 headText">
			<h2>@ViewBag.Title.</h2>
			<h3>@ViewBag.Message</h3>

		</div>
	</div>

<div class="row">
	<div class="col-lg-12">
		<img class="frontImg" src="~/Content/imgs/aboutUsImg.jpg" />
		<br />
		<p>We are a small business started by Aarron Nells. He loved pottery since he was a kid and that love grew into a business that he runs.</p>
		<p>Here we have two main kilns and one specialty kiln for custom and high temp projects. Our staff have the same love for pottery and sculpting as Nells and would love to craft the perfect item for you.</p>

	</div>
</div>
