@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2326 W Waukau Ave<br />
    Oshkosh, WI 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    301-687-4585
</address>

<address>
    <strong>Email as a Question:</strong>   <a href="mailto:Support@example.com">emMaking@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">emMarketing@gmail.com</a>
</address>