@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Marble and Earth </h1>
</div>

<div class="row">
    <div class="col-md-5 frontTxt">
        <h2>Welcome to the kiln</h2>
		<p>Made by journeyman and masters of pottery and sculpting, are here to fire your dream pottery and chisle out that beautiful statue that you wanted in the garden.</p>
    </div>
    
    <div class="col-md-7 frontTxt">
        <h2>What We Make</h2>
        <p>Decorative pots, statues and custom orders. If it can be carved and filed or molded and fired we will make it.</p>
        <p>All earthenware we make can be made in three types of clay. Earthenware which is the most common and used since the beginning of pottery. Fire clay which has a high firing range, little impurities, and gives a spekled look when fired. Finally we have kaolin clay which is often used to make porcelain and comes out near-white to white when fired</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <img class="frontImg" src="~/Content/imgs/kilnFrontImg.jpg" />
    </div>
</div>