body {
	background-color: white;
	font-family: 'Cambo', serif;
	background-image: url(imgs/stoneTextureAlleys.jpg);
}
h1, h2, h3, h4, h5 {
	font-family: 'Gudea', sans-serif;
}
.container {
	background-color: #EDF2F1;
}
/*Navbar*/
.navHolder, .holder, .navbar-inverse {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #c8bdb0;
	border: none;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	color: black;
	font-size: 16px;
}

.navbar-inverse .navbar-brand {
	font-size: 20px;
}

/*Home page*/
.jumbotron {
	text-align: center;
	background-color: #88837b;
	border-radius: 0px !important;
	border-bottom-left-radius: 23% !important;
	border-bottom-right-radius: 23% !important;
}

.frontTxt p{
	font-size: 20px;
}

.frontImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

/*Contact us*/
.contact {
	padding-top: 25px;
	text-align: center;
}
.email {
	padding-top: 20px;
}

/*Product*/
.addButton {
	margin: auto;
	float: right;
	margin-bottom: 10px;
}
.detail a{
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	color: black;

}
table {
	border-top: 1px solid #303030;
}
/*Details*/
.deButtons {
	padding-bottom: 15px;
	align-content: center;
}
.delBu{
	margin-left: 15px;
}

/*Cart*/
.moveR {
	text-align: right;
}


/*footer*/
footer {
	text-align: right;
}
footer a {
	color: grey;
}


/*Account*/
.rememberMe {
	margin-left: 50px;
}
/**/


@media screen and (max-width: 991px) {
	.headText {
		margin-top: 55px;
	}
	.control-label {
		float: left !important;
	}
}
@media screen and (max-width: 767px) {
	.headText {
		margin-top: 0px;
	}
	.control-label {
		float: none !important;
	}
}